
<div class="form-auth">
    <div class="container center">
        <div class="auth-form">
            <div>
                <app-auth-form [email]="email" [password]="password" (submit)="submit($event)">
                    <h3 class="title">Вход</h3>

                    <button type="submit" value="Register">
                        Зарегистрироваться
                    </button>
                </app-auth-form>
            </div>

            <p *ngIf="errorMessage.length > 0" class="text-danger">
                {{errorMessage}}
            </p>

            <p *ngIf="error.message.length > 0" class="text-danger">
                {{error.message}}
            </p>

            <p *ngIf="message.length > 0" class="text-info">
                {{message}}
            </p>

          
            
        </div>
    </div>
</div>









                <!-- <app-auth-form [email]="email" [password]="password" (logIn)="register($event)">
                    <h3 class="title"> Регистрация</h3>

                    <button type="submit">
                        Зарегистрироваться
                    </button>
                </app-auth-form>
            </div>
 -->









          