<div class = "container">
    
    <app-filter (checkGenre) = "checkedGenre($event)">
        <div class = "search" >
            <input type = "text" placeholder="Поиск" #input>
        </div>
    </app-filter>
    
    <div *ngIf="!showSpinner" class = "up" (click)="scrollTop()"></div>

    <app-goods-item  [items] = "goods" (addToWishList)="addToWishList($event)"></app-goods-item>  

    <app-spinner  *ngIf = "showSpinner"></app-spinner>

    <div class="no-items" *ngIf="goods.length == 0 && !showSpinner">
        <h1>
            Увы, но товары не найдены
        </h1>
    </div>
     
</div>





