<div *ngIf="wishList.length; else message" class="container">  
    <ul  class="list"> 
        <app-goods-item  [items]="wishList" (addToWishList)="removeToWishList($event)" ></app-goods-item>        
    </ul>
</div>

<ng-template #message>
    <div class="container container-inner">
        <div class="message">
            <h3>
                Список пожеланий пуст.
            </h3>
            <p>У вас пока нет товаров в списке пожеланий.</p>
            <a [routerLink]="['/shop']">В МАГАЗИН</a>
        </div>
    </div>
</ng-template>
