<ul class="list">
  <li *ngFor="let item of items; index as i" class="item">
    <div class="card">
        <div class="test">
          <span  class="item-like"  tooltip = "Добавить в избранное" #myTooltip="tooltip" >
            <span (click)="add(i)" class="like" (mouseover)="myTooltip.show()" (mouseout)="myTooltip.hide()" ></span>
          </span>
        <div class="pic">
          <img class="card__img" src="{{item.pathToImg}}" alt="{{item. name}}">
        </div>
      </div>
      <div class="discription">
        <a [routerLink]="['/product', item.id]">
          <span class="item_discription-author-name">{{item.author}}-{{item.name}}</span>
        </a>
        <br />
        <span class="item_discription-year">{{item.year}}</span>
        <p class="item_discription-cost">{{ item.cost | currencyBYN }}</p>
      </div>
    </div>
  </li>
</ul>