<div>
    <form (ngSubmit)="login(form.value)" #form="ngForm">
        <ng-content select = ".title"></ng-content>
        <label for="">
                Email:
            <input type="email" name="email" [(ngModel)] ="email" placeholder="Введите логин" required>
        </label>
        <br>
        <label for="">
            Пароль:
            <input type="password" name="password"  [(ngModel)] ="password" placeholder="Введите пароль" required>
        </label>
        <br>
        <ng-content select="app-auth-remember"></ng-content>
        <ng-content select="button"></ng-content>
    </form>
</div>

