.item{
    
    h2{
        
        
        text-align: center;
        margin-bottom: 30px;
         
        span{
        color: #fff;
        font-size: 4em;
        background-color: #131313;
        border-radius: 50%;
        padding: 0 50px;

        }
        
        &:after{
            content: "";
            display: block;
            height: 1px;
            width: 260px;
            background-color: #131313;
            margin: 10px auto;

        }
    }

   
}





.info{
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

   
}

.text{
    width: 45%;
    h3{
        font-size: 2rem;
       
    }
   
}

.img{
   display: block;
}

@media(max-width:1150px) {
    .info{
        text-align: center;
        display: inline-block;
    }
    .text{
        width: 100%;
    }
}