<header #header>
    <div class="container">
        <div class="header-inner">
            <div class="header-logo">
                <a routerLink="/"><img class="img" src="../assets/logo.png" alt="VIN"></a>
            </div>
            <nav #menu>
                <a *ngFor="let item of nav" [routerLink]="item.link" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: item.exact }" (click)="scroll()">
                    {{item.name}}
                    <span>{{ item.quantity || null }}</span>
                </a>
                <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                    (click)="isUser()">{{enter}}</a>
            </nav>
            <button (click)="toggleMenu()" class="nav-toogle" id="nav_toggle" type="button" #navtoggle>
                <span class="nav-toogle_item">menu</span>
            </button>
        </div>
    </div>
</header>

<flash-messages></flash-messages>
<router-outlet></router-outlet>