.filter {
    margin-top: 200px;
    
}

.filter-genre{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search {
    margin-bottom: 30px;
    input{

        border: none;
        border-bottom: 2px solid #838383 ;
        outline: none;
        width: 100%;
        font-size: 19px;

        &:focus {
            border-bottom: 2px solid #131313;
        }
    }
}