.films {
    background-color: #131313;
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    color: rgb(226, 226, 226);
   
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .img {
        img {
           
            border-radius: 50%;
            width: 150px;
            height: 150px;
            margin-right: 60px;
        }
    }
    .text {
        padding: 0 10px;
        max-width: 600px;
        a {
            color: rgb(226, 226, 226);
            text-decoration: none;
            font-weight: bold;
            font-size: 1.5em;

            &:hover {
                border-bottom: 1px solid rgb(226, 226, 226);
            } 
        }

        h3 {
          font-weight: lighter;
        }
        p {
            font-size: 1em;
        }
    }
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;

    &:hover {
        cursor: pointer;
        border-width: 0 4px 4px 0;
    }
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.right { 
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}