<div class="flex">
    <div class="care">
      <div class="care-background">
        <div class="letter">R</div>
        <div class="letter">E</div>
        <div class="letter">C</div>
        <div class="letter">O</div>
        <div class="letter">R</div>
        <div class="letter">D</div>
        <div class="letter">S</div>
      </div>
        <h3 class="care-title">Правильный уход за виниловыми пластинками</h3>
        <p class="care-text">Виниловая пластинка уже почти 150 лет используется человеком для записи и распространения музыки. 
          Ввиду своей аналоговой природы винил обеспечивает куда более объемный и яркий звук по сравнению CD-дисками или цифровыми форматами музыки. 
          Однако эта привилегия накладывает определенные обязательства на ценителя «лампового звучания»: виниловые пластинки более уязвимы и требуют особого ухода.</p>
          <div class="btn">
            <a routerLink="/care" class="btn-black">УХОД</a>
        </div>        
    </div>
    <div class="block">
      <img class="block-img" [src]="pathToImg" alt="careForVinyl">
    </div>
    </div>